# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Editor & IDE Directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary & Log files
*.tmp
*.log
